.App {
  text-align: center;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.527);
  backdrop-filter: blur(0.2rem);
  box-shadow: 0px 2px 7px rgba(116, 116, 116, 0.459);
  height: min-content;
  z-index: 99;
  padding: 5px;
  border-radius: 0px 0px 30px 30px;
}
/* hamburger menu */
#menuToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45px;
  height: 30px;
  padding: 0px 20px;
}

#menuToggle span {
  width: 100%;
  height: 5.5px;
  border-radius: 20px;
  background-color: rgb(68, 145, 112);
}

#menuToggle span:nth-child(3), #menuToggle span:nth-child(1) {
  width: 80%;
}

.App-logo {
  height: 8vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(13px + 2vmin);
  color: rgb(68, 145, 112);
}

.App-link {
  padding: 5px 20px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(68, 145, 112);
  text-decoration: none;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  border-radius: 10px;
  animation: foto 3s infinite alternate-reverse;
}

@keyframes foto {
  from {
    opacity: 0.5;
  } to {
    opacity: 1;
  }
}

/* main */
main {
  width: 100%;
  height: min-content;
  text-align: center;
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about .content {
  width: 80%;
  color: #255a2b;
  font-size: 1.019rem;
}
